h1 {
  text-align: center;
}

form {
  text-align: center;
}

input[type="text"] {
  display: inline-block;
  width: 300px;
  margin: 10px auto;
}

input[type="button"] {
  display: inline-block;
  margin: 10px auto;
}